.app-footer {
    width: 100%;
    height: 48.4px;
    background-color: #FFFFFF;
    border-top: 1px solid #dddddd;
    position: fixed;
    bottom: 0;
    // margin: 0 80px;
    padding-left: 80px;
    text-align: center;
    display: flex;
    padding-top: 13px;
    padding-bottom: 14px;
    font-family: $font1;
    font-size: 0.875rem;
    color: $clr8;
    // justify-content: space-between;

    .footer-options {
       margin-left: 40%;
    }

    .footer-links {
        font-family: inherit;
        line-height: 1.125rem;
        letter-spacing: 0.045rem;

        // .footer-link-hover:hover {
        //     text-decoration: underline;
        //     cursor: pointer;
        // }




        img {
            width: 25px;
            height: 11px;
        }
    }
}