.app-footer {
    width: 100%;
    height: 47.4px;
    background-color: #111;
    color: $clr4;
    padding: 0;
    margin: 0;
    text-align: center;
    grid-row: 3;
    justify-self: end;
    align-self: end;

    h1 {
        width: 100%;
    }
}