.carousel {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .inner {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }

  .carousel-item {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }

  .indicators,
  .carousel-arrows {
    display: flex;
    position: absolute;
    // height: fit-content;
  }

  .carousel-arrows {
    width: 94%;
    justify-content: space-between;
    cursor: pointer;
    display: flex;

    .show-arrow {
      opacity: 1;
    }
    
    .hide-arrow {
      opacity: 0;
    }
  }

  .indicators {
    display: flex;
    align-items: center;
    bottom: 0;

    .indicator-button {
      cursor: pointer;
      width: fit-content;
      height: fit-content;
      margin: 3px;
      padding: 0;
      margin-bottom: 9px;
      background-color: rgba(255, 255, 255, 0);
    }

    .indicator-symbol {
      color: #ffffffa4;
      font-size: 5px;
    }

    .indicator-symbol-active {
      color: #ffffff;
      font-size: 5px;
    }
  }
}

.button-arrow-back,
.button-arrow-forward {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.5s ease;
  
  &:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
  background: rgba(255, 255, 255, 0.95);
}
}

.stay-preview:hover {
  .button-arrow-back,
  .button-arrow-forward {
    opacity: 1;
    transition: opacity 0.35s ease;
  }
}

.material-symbols-outlined {
  align-self: center;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  transition: transform 0.35s ease;
  padding-left: 2px;
  
  &:hover {
    font-weight: 650;

  }
}

.arrow-back{
  padding-left: 5px;
}