.date-range-wrapper {
  padding-block: 48px;
  .date-range-header {
    padding-bottom: 22px;
    h1 {
      font-family: montserrat-Regular;
      font-size: rem(22px);
      margin: 0;
    }
    h5 {
      font-size: rem(14px);
      margin: 0;
      font-family: montserrat-Regular;
      padding-top: 8px;
      letter-spacing: 0.5px;
    }
  }
  .check-in-pick {
    position: relative;
    margin: 0;
    transform: translateY(0);
    border: transparent;
    height: 373px;
  }
  .date-pick-header {
    display: none;
  }
  .rdp-caption_label {
    font-size: rem(16px);
    font-family: cereal-medium;
  }
  .rdp-head_row {
    font-size: rem(16px);
  }
  .rdp-tbody {
    font-size: rem(16px);
  }
  a {
    display: flex;
    justify-content: flex-end;
    font-size: rem(14px);
    margin: 0;
    font-family: cereal-reguler;
    color: #222222;
    text-decoration: underline;
  }
}
