.header-details {
  h1 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      Helvetica Neue, sans-serif;
    font-size: rem(26px);
    color: #222222;
    font-weight: inherit;
    padding-top: 26px;
    margin: 0;
  }
  .sub-header-details {
    display: flex;
    justify-content: space-between;
    font-size: rem(14px);
    padding-top: 10px;

  }
}
