.sleep-details {
  padding-top: 51px;
  padding-bottom: 48px;
  max-width: fit-content;
  h1 {
    font-size: rem(22px);
    margin: 0;
    padding-bottom: 24px;
    line-height: inherit;
    font-family: Cereal-Book;
  }
  img {
    max-height: 212px;
    border-radius: 8px;
    object-fit: fill;
    cursor: pointer;
  }
  h2 {
    font-family: Cereal-Book;
    padding-top: 4px;
    font-size: rem(16px);
    line-height: 20px;
    margin: 0;
    cursor: pointer;
  }
  p {
    font-size: rem(14px);
    padding-top: 2px;
    font-family: Cereal-Regular;
    line-height: 20px;
    cursor: pointer;
    margin: 0;
  }
}
