.basic-info-details{
h2{
    font-size: rem(22px);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}
.capacity-details{
    .span{
        margin-inline: 5px;
    }
}
}