.header-details {
  h1 {
    font-family: cereal-Book;
    font-size: rem(24px);
    color: #222222;
    padding-top: 25px;
    margin: 0;
    letter-spacing: 1px;
  }
  .sub-header-details {
    display: flex;
    font-family: cereal-regular;
    justify-content: space-between;
    font-size: rem(14px);
    line-height: 20px;
  }
}
