.basic-info-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 24px;

  .capacity-details {
    h2 {
      font-size: rem(22px);
      font-family: $font1;
      margin-bottom: 5px;
    }
    .space {
      margin-inline: 5px;
    }
  }
  img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #c4c4c4;
  }

}
