.feature-info-details {
  padding-top: 32px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  .feature-wrapper {
    display: flex;
    img {
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }

    .feature {
      h2 {
        font-family: Cereal-Medium;
        font-size: rem(15px);
        margin: 0;
        padding-bottom: 6px;
        line-height: 20px;
        letter-spacing: 0.1px;
      }
      p {
        font-family: Cereal-Regular;
        font-size: rem(14px);
        padding-bottom: 22px;
        margin: 0;
        line-height: 19px;
        a {
          text-decoration: none;
          text-decoration: underline;
        }
      }
      &:last-of-type {
        padding-bottom: 0px;
      }
    }
  }
}
