.guests-open{
    position: absolute;
    background-color: $clr11;
    top: 85%;
    
    width: fit-content;
    height: 450px;
    border-radius: 30px;
    border: 1px solid $clr12;
    transform: translateY(15%);
    visibility: visible;
    cursor: auto;
    padding: 0;
    width: 380px;
    padding: 5px;


    .guest-select-options {
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;

        
        .guest-select-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid;
            flex:1;
            
            &:last-child {
                border-bottom: none;
            }
        }
    }

    .guest-select-title {
        font-size: rem(16px);
        line-height: 20px;
        // font-family: cereal;
        padding-bottom: em(6px);
    }

    .guest-select-sub-title {
        font-size: rem(14px);
        line-height: 18px;
        // font-family: cereal;
    }

    .guest-select-counter {
        width: 104px;
        height: 32px;
    }

    .counter-btn {
        border-radius: 50%;
        height: 35px;
        width: 35px;
        background-color: $clr11;
        border: 1px solid $clr14 ;

        &:disabled {
            cursor: not-allowed;

        }
    }
}