.categories-container {
    display: grid;
    grid-template-columns: 1fr auto;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; // height: 100%;
    line-height: 0.8888em;
    text-align: center;
    width: 100%;
    height: 100%;
    align-items: center;

    .categories-filter-buttons {
        border: 1px solid rgb(221, 221, 221);
        border-radius: 12px;
        font-size: 12px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; // height: 100%;
        width: 90px;
        height: 48px;
        padding: 0;
        margin-left: 20px;
        display: flex;
        position: relative;
        top: 10px;


        .categories-filter-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            // align-items: center ;
            width: 100%;
            height: 100%;
            background-color: rgba(152, 14, 14, 0);


            button {
                font-size: 12px;

            }

            .filter-Icon-labels {
                width: 13px;
                height: 13px;
                margin-right: 9px;
                margin-left: 1px;
            }
        }
    }
}


.carousel-labels {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;

    .carousel-label-back {
        align-self: flex-start;
        position: absolute;
        margin-top: 10px;

        color: #2F2F2F;
        z-index: 2;


        button {
            border: 1px solid #B3ADAD;
            background-color: rgb(255, 255, 255);
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0;
        }

    }

    .carousel-label-forward {
        align-self: flex-end;
        position: absolute;
        margin-top: 10px;
        color: #2F2F2F;
        z-index: 2;

        button {
            border: 1px solid #B3ADAD;
            background-color: rgb(255, 255, 255);
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0;
        }


    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, #fff 0, transparent 100px, transparent calc(100% - 100px), #fff 100%);
        pointer-events: none;
    }

    .inner-labels {
        // overflow: hidden;
        // display: flex;
        display: grid;
        grid-auto-flow: column;
        height: 100%;
        width: 100%;
        white-space: nowrap;
        transition: transform 0.3s;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
        // font-size: 12px;
        // align-items: flex-end;
        // justify-content: space-between;
        // padding-bottom: 4px;

        .carousel-item {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            gap: 32px;
            margin: 0 25px;
            background: none;

        }
    }

    // .carousel-labels-arrows {
    //     color: #2F2F2F;
    //     position: absolute;
    //     display: flex;
    //     // width: 100%;
    //     justify-content: space-between;
    //     cursor: pointer;
    //     margin-top: 20px;
    //     // z-index: 2;
    //     // pointer-events: none;


    //     button {
    //         border: 1px solid #B3ADAD;
    //         background-color: rgb(255, 255, 255);
    //         width: 28px;
    //         height: 28px;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         border-radius: 50%;
    //         margin: 0;
    //     }
    // }
}


.categories {
    width: 100%;
    height: 100%;
}

.category-carousel-item {
    cursor: pointer;
    font-size: 0.66667em;
    padding: 4px 0;
    position: relative;
    min-width: 56px;
    // color: $clr15;
    font-family: circular-Bold;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    gap: 10px;

    .category-icon {
        opacity: 0.6425339;
    }

    .category-name {
        color: $clr15;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; // height: 100%;
        line-height: 0.8888em;
        white-space: nowrap;
        text-align: center;
    }
}

.category-carousel-item:hover .category-name::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $clr12;
    bottom: 0;
    left: 0;
}

.category-carousel-item:hover .category-name {
    color: black;
}

.category-carousel-item:hover .category-icon {
    opacity: 1;
}

.category-carousel-item.active .category-name::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    bottom: 0;
    left: 0;
}

.category-carousel-item.active .category-icon {
    opacity: 1;
}

.category-carousel-item.active .category-name {
    color: black;
}























// .categories-container {
//     display: flex;
//     grid-row: 2;
//     // color: #717171;
//     font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; // height: 100%;
//     line-height: 0.8888em;
//     white-space: nowrap;
//     text-align: center;
//     font-weight: 600;
//     width: 100%;
//     justify-content: space-between;
//     align-items: center;
//     margin-top: 26px;

//     .categories {
//         display: grid;
//         grid-auto-flow: column;
//         row-gap: 0;
//         gap: 38px;
//         margin: 0 auto;

//         .category {
//             display: inline-block;
//             font-size: 0.6666em;
//             margin-top: 13px;
//             padding: 0;
//             opacity: 0.65;
//             position: relative;
//         }
//     }
// }

// .categories-filter-buttons {
//     border: 1px solid rgb(221, 221, 221);
//     border-radius: 12px;
//     font-size: 12px;
//     font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; // height: 100%;
//     padding: 7px;
//     position: relative;
//     bottom: 7px;
//     // background-color: rgb(0, 0, 0);
//     // border: 1px solid red;
//     display: flex;
//     height: fit-content;
//     position: relative;
//     bottom: 1px;
//     width: 90.5px;
//     height: 48px;

//     .categories-filter-button {
//         display: flex;
//         gap: 8px;
//         align-items: baseline;
//         padding-top: 2px;
//         width: 100%;
//         height: 100%;
//         background-color: rgba(152, 14, 14, 0);

//         img {
//             width: 10.5px;
//             height: 10.5px;
//         }
//     }
// }