.login-header-btn {
    width: 77px;
    height: 42px;
    background-color: $clr11;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 5px 5px 5px 12px;
    border: 1px solid $clr12;
    position: relative;

    .login-burger {
        width: 20px;
        height: 20px;
        background-image: url("../../img/icons/burger.png");
        background-position: center;
        background-size: cover;
    }

    .login-user-pic-container {
        width: 30px;
        height: 30px;
        background-image: url("../../img/icons/user-default2.svg");
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        // opacity: 55%;

        img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        cursor: pointer;
        transition: 0.4s;
    }
}

.Overlay-login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-modal-container {
    margin-top: 15px;
    margin-left: 15px;
    background-color: $clr10;
    height: 31.78em;
    width: 31.56em;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px 0px;

    .credentials-page {
        height: 100%;

        .login {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            // .login-form {}
        }
    }


}