.orders {
    font-family: cereal-regular;
    h2 {
      padding-top: 64px;
      font-size: 32px;
      font-family: cereal-Medium;

    }
  
    h3 {
      padding-top: 64px;
      font-size: 26px;
      font-family: cereal-Medium;
    }

    .delete-order-btn{
        background-color: rgba(255, 255, 255, 0.309);
        // border-bottom: 1px solid #2222;
        font-size: 16px;
        color: rgb(210, 35, 35);
    }
  
    table {
      width: 100%;
      table-layout: fixed;
      text-align: start;
  
    
      tr:nth-child(even) {
        background: hsl(0, 0%, 95%);
      }
  
      th {
        background: hsl(0, 0%, 92%);
        text-align: start;
        font-size: 12px;
        text-transform: uppercase;
        font-family: cereal-Bold;
        padding-inline: 0.5em;
        padding-block: 0.8em;
      }
  
      td {
        padding-inline: 0.5em;
        padding-block: 0.2em;
      }
  
      th:nth-child(3),
      td:nth-child(3) {
        width: 120px;
      }
      th:nth-child(4),
      td:nth-child(4) {
        width: 120px;
      }
      th:nth-child(5),
      td:nth-child(5) {
        width: 140px;
        color: hsl(0deg, 0%, 44%);
        font-family: cereal-medium;
      }
    }
  }
  