.main-nav {
    display: flex;
    align-items: center;
    justify-self: end;


    .language-btn {
        width: 46px;
        height: 42px;
        border-radius: 50%;
        font-size: 18px;
        background-color: inherit;
        padding-top: 5px;
        margin-right: 18px;
        margin-top: 7px;

        &:hover {
            background-color: #F7F7F7;
        }
    }

    .add-own-homw-btn {
        display: flex;
        height: 42px;
        width: 148px;
        align-items: center;
        justify-content: center;
        font-family: airbnb-cereal-W_Bd, sans-serif;
        font-size: rem(14px);
        border-radius: 25px;
        opacity: 0.8;
        margin-top: 2px;


        &:hover {
            background-color: #F7F7F7;
        }
    }

    
}