.stay-details.overlay-fade-in {
  animation: overlay-fade-in 0.3s ease-out forwards;
}

.stay-details.overlay-fade-out {
  animation: overlay-fade-out 0.3s ease-out forwards;
}

.Modal-reviews {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1032px;
  height: 90%;
  background-color: white;
  overflow-y: hidden;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  animation: modal-slide-in 0.4s ease-out forwards;
  border-radius: 1em;
  padding-top: 72px;

  @keyframes modal-slide-in {
    0% {
      opacity: 0;
      transform: translate(-50%, 100%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  @keyframes modal-slide-out {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, 100%);
    }
  }
}

.Overlay-reviews {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  .reviews-modal-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-left: 24px;
    button {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      left: 16px;
      top: 16px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      padding: 0;
      margin: 0;
      img {
        width: 16px;
        height: 16px;
      }
    }
    & button:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
    .rating-details {
      width: 300px;
      display: flex;
      font-size: rem(32px);
      font-family: cereal-Bold;
      color: black;
      padding-bottom: 40px;
      img {
        width: 25px;
        height: 25px;
        margin-right: 8px;
      }
      .space-dot {
        padding-inline: 6px;
      }
      a {
        cursor: text;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        .avg-data-wrapper {
          display: flex;
          justify-content: space-between;
          .avg-type {
            font-size: rem(14px);
            font-family: cereal-Regular;
            color: black;
            text-transform: capitalize;
          }
          .avg-num {
            font-size: rem(12px);
            font-family: cereal-Bold;
            color: black;
            display: flex;
            align-items: center;
            progress {
              display: flex;
              align-items: flex-end;
              border-radius: 2px;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26) inset;
              height: 4px;
              max-width: 100px;
              margin-inline-end: 12px;
            }
            progress::-webkit-progress-bar {
              background-color: #b9b9b9;
            }
            progress::-webkit-progress-value {
              background-color: rgb(0, 0, 0);
            }
          }
        }
        li {
          margin-bottom: 12px;
        }
      }
    }

    @keyframes overlay-fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes overlay-fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    .reviews-list {
      max-width: 600px;
      .list-reviews{
        overflow-y: scroll;
        height: 90%;
        padding-right: 24px;
      }
      .user-review {
        margin-bottom: 40px;
        .user-review-header {
          display: flex;
          align-items: center;
          margin-bottom: 16px;
        }
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-inline-end: 16px;
        }
        h2 {
          margin: 0;
          font-size: rem(16px);
          font-family: cereal-Regular;
          color: black;
        }

        p {
          margin: 0;
          font-size: rem(14px);
          font-family: cereal-Regular;
          color: black;
        }
      }
      .search-reviews{
        width: 100%;
        background-color: #ffffff;
        input {
          height: 44px;
          width: 95%;
          border: 1px solid #29292969;
          background-color: #f7f7f7;
          border-radius: 100px;
          padding-left: 16px;
          padding-right: 12px;
          margin-bottom: 24px;
          font-size: rem(14px);
        }
        input:focus {
          outline: none;
        }
      }
    }
  }
