.search-bar {
    width: 351px;
    height: 48px;
    // background-color: aqua;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    padding: 0 24px;
    align-self: center;
    border: 1px solid $clr12;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: 0.5s;
    }

    button{
        background-color: inherit;
        color: black;
    }
    
    .anywhere-search-btn{
        border-right:1px solid $clr12 ;
        font-weight: bold;
    }
    .anyweek-search-btn{
        border-right:1px solid $clr12 ;
        font-weight: bold;
    }
    .add-guests-search-btn{
        font-weight:100;
    }
}