.expanded-search-bar {
    width: 85.3%;
    max-width: 700px;
    height: 80px;
    background-color: $clr13;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 100vw;
    display: flex;
    cursor: pointer;
    font-size: rem(14px);
    font-family: cereal, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    translate: 25%  -200%;

    &.expand{
        translate: 25% 100%;
    }

    &>* {
        height: inherit;
        border-radius: 100vw;
        flex-grow: 1;
        padding-left: 30px;
    }

    &>*:hover {
        background-color:$clr11;
    }

    h3 {
        font-size: rem(12px);
        font-family: cerealBold, sans-serif;
        height: 18px;
    }

    .location {
        width: 38%;

        input {
            border: none;
            background-color: inherit;
        }
    }

    .check-in,
    .check-out {
        width: 15%;
    }

    .guests {
        width: 31%;
        display: flex;
        justify-content: space-between;

        .search-btn {
            background-color:$clr1;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            padding-top: 3px;
            margin-top: 7px;
            color:$clr11;
            align-self: center;

            i {
                color:$clr11;
            }
        }
    }

    .check-in-pick{
        position: absolute;
        background-color: $clr11;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        border-radius: 15px;
        margin-top: 10px;
        transform: translateY(20%);
        visibility: visible;
    }

    .guests-pick{
        position: absolute;
        background-color:$clr11;
        top: 0;
        right: 0;
        width: 60%;
        height: 450px;
        border-radius: 15px;
        margin-top: 10px;
        transform: translateY(20%);
        visibility: visible;
    }



    .folded{
        visibility: hidden;

    }

}