.search-bar {
    width: 397px;
    height: 48px;
    border-radius: 25px;
    display: flex;
    // padding: 0 24px;
    align-self: center;
    border: 1px solid $clr12;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        transition: 0.3s;
    }

    .main-screen-full{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    button {
        background-color: inherit;
        color: black;
        font-size: rem(14px);
    }

    .anywhere-search-btn {
        border-right: 1px solid $clr12 ;
        font-weight: bold;
        width: 107px;
        font-family: cerealBold, sans-serif;
    }

    .anyweek-search-btn {
        border-right: 1px solid $clr12 ;
        font-weight: bold;
        width: 98px;
        font-family: cerealBold, sans-serif;
    }

    .add-guests-search-btn {
        font-weight: 100;
        width: 106px;
        font-family: cereal, sans-serif;
    }

    .search-btn {
        background-color: #FF385C;
        border-radius: 50%;
        width: 32px;
        height: 32px;

        i{
            color:aliceblue
        }
    }
}
