.stay-details.overlay-fade-in {
  animation: overlay-fade-in 0.3s ease-out forwards;
}

.stay-details.overlay-fade-out {
  animation: overlay-fade-out 0.3s ease-out forwards;
}

.Modal-share {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 568px;
  height: 440px;
  background-color: white;
  overflow-y: hidden;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  animation: modal-slide-in 0.4s ease-out forwards;
  border-radius: 1em;
  padding: 24px;

  @keyframes modal-slide-in {
    0% {
      opacity: 0;
      transform: translate(-50%, 100%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  @keyframes modal-slide-out {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, 100%);
    }
  }
}

.Overlay-share {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  .share-modal-wrapper {
    .share-modal-header {
      h1 {
        padding-top: 40px;
        margin: 0;
        font-family: Cereal-Regular;
        font-size: rem(26px);
      }
      button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        left: 16px;
        top: 16px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        img {
          width: 16px;
          height: 16px;
        }
      }
      & button:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
      .share-modal-details {
        display: flex;
        align-items: center;
        margin-block: 24px;
        img {
          width: 64px;
          height: 64px;
          margin-right: 16px;
          border-radius: 8px;
        }
        p {
          font-size: rem(16px);
          font-family: Cereal-Regular;
          margin: 0;
        }
        .space-dot {
          padding-inline: 6px;
        }
      }
    }
    .btns-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      button {
        display: flex;
        align-items: center;
        width: 250px;
        height: 74px;
        border-radius: 8px;
        border: 1px solid #e2e2e2;
        background-color: transparent;
        padding-inline: 8px;
        font-size: rem(16px);
        font-family: Cereal-Medium;
        padding-block: 8px;
        padding-inline: 8px;
      }
      img {
        width: 32px;
        height: auto;
        margin-inline: 22px;
      }
      & button:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  animation: overlay-fade-in 0.3s ease-out forwards;
  &.overlay-fade-out {
    animation: overlay-fade-out 0.3s ease-out forwards;
  }

  @keyframes overlay-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes overlay-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
