
.stay-list {
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    column-gap: 24px;


    @include for-mobile-layout {
        @media (max-width: $mobile-breakpoint) {
            grid-template-columns: 1fr;
        }
    }

    @include for-narrow-layout {
        @media (min-width: $narrow-breakpoint) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include for-normal-layout {
        @media (min-width: $normal-breakpoint) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @include for-wide-layout {
        @media (min-width: $wide-breakpoint) {
            grid-template-columns: repeat(4, 1fr);
            // row-gap: 40px;
        }
    }

    @include for-extra-wide-layout {
        @media (min-width: $extra-wide-breakpoint) {
            grid-template-columns: repeat(5, 1fr);
            row-gap: 40px;
        }
    }

    @media (min-width: 1750px ) {
        grid-template-columns: repeat(6, 1fr);
        row-gap: 47px;
    }
}

.carousel-container{
    width: 400px;
    height: 400px;
    // background-color: aqua;
}








// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
// $break-mobile: 640px;
// $break-narrow: 640px;
// $break-normal: 900px;
// $break-wide: 1100px;
// $break-extra-wide: 1400px;

// $padded-break-narrow: $break-narrow + $layoutPadding * 2;
// $padded-break-normal: $break-normal + $layoutPadding * 2;
// $padded-break-wide: $break-wide + $layoutPadding * 2;