.search-bar{
    width: 351px;
    height: 48px;
    background-color: aqua;
    border-radius: 25px;
    display:flex;
    justify-content:center;
    font-size:0.6rem;
    padding: 0 24px;
    align-self: center;
    // justify-self: center;
}