* {
  box-sizing: border-box;
}

::selection {
  background-color: $clr1;
  color: $clr6;
}

html {
  line-height: 1.6;
}

body {
  font-size: rem(18px);
  margin: 0;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: caveat;
  line-height: 1;
}

p {
  margin: 0 0 1em;
}

a {
  all: unset;
  cursor: pointer;
}

img{
  width: 100%;
}