.book-page-wrapper {
  margin: auto;
  max-width: 1120px;

  .my-trips-btn-container {

    .my-trips-btn {
      font-family: airbnb-cereal-book;
      font-size: 0.6em;
      position: relative;
    }

    .arrow-forward-trips {
      transform: scaleX(-1);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      height: 30px;
      width: 30px;
      padding: 0;
      margin: 0;
      border-radius: 50%;
      bottom: 44px;
      left: 130px;


      img {
        width: 12px;
        height: 12px;
      }
    }
  }

  .my-trips-btn,
  .confirm-btn {
    width: 100%;
    height: 56px;
    font-size: 16px;
    font-family: $font1;
    margin-top: 7px;
  }

  .book-details-header {
    display: flex;
    padding-top: 56px;
    padding-bottom: 13px;
    font-family: airbnb-cereal-medium;
    font-size: rem(32px);
    padding-bottom: 40px;
    position: relative;

    .arrow-back-header {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      height: 48px;
      width: 48px;
      padding: 0;
      margin: 0;
      border-radius: 50%;
      left: -50px;
      top: 59px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    button:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }

  .book-page-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .book-page-main {
    width: 50%;
    margin-bottom: 64px;

    .confirm-btn {
      padding: 24px 0;
      width: 203px;
      height: 56px;
    }

    .good-price-section {
      width: 100%;
      padding: 24px;
      padding-left: 22px;
      padding-top: 22px;
      font-size: 0.8888em;
      color: $clr8;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 12px;
      font-family: cereal-regular;
      line-height: 20px;
      position: relative;
      margin-bottom: 22px;

      .good-price-header {
        display: block;
        font-family: airbnb-cereal-medium;
        margin-bottom: 9px;
      }

      .good-price-content {
        max-width: 417px;
      }

      .price-tag-icon {
        position: absolute;
        top: 22px;
        right: 7.5%;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }

    .book-details-wrapper {
      display: flex;

      .custom-hr {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        border: none;
        background-color: #dddddd;
        margin: 0;
      }

      .book-details {
        width: 100%;
        color: $clr8;

        .your-trip-header {
          font-family: airbnb-cereal-medium;
          font-size: rem(22px);
          padding-bottom: 14px;
          margin: 0;
        }

        .book-details-trip-info {
          display: flex;
          flex-direction: column;

          .book-details-trip-date {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding-bottom: 10px;

            h3 {
              font-family: circular-Regular;
              margin: 0;
            }

            .date-info {
              .date-info-header {
                font-family: airbnb-cereal-medium;
                font-size: 0.8888em;
              }

              p {
                font-size: 0.8888em;
                font-family: airbnb-cereal-book;
                margin: 0;
              }
            }

            .book-details-edit {
              a {
                font-family: circular-Bold;
                font-size: rem(16px);
                text-decoration: underline;
              }
            }
          }



          .book-details-trip-guests {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .guests-header {
              font-family: airbnb-cereal-medium;
              font-size: 0.8888em;
            }



            .guest-info {
              font-family: $font1;
              padding-top: 8px;
              margin: 0;
              height: 70px;
              margin-bottom: 21px;


              .guest-info-content {
                padding-top: 2px;
                font-size: 0.8888em;
                font-family: airbnb-cereal-book;
                margin: 0;
              }

              .guest-count {
                padding-right: 5px;
                padding-top: 10px;
              }

              h3 {
                margin-bottom: 5px;
              }
            }

            .book-details-edit {
              a {
                font-family: circular-Bold;
                font-size: rem(16px);
                text-decoration: underline;
              }
            }
          }
        }




        .book-required {
          padding-top: 32px;

          h2 {
            font-family: montserrat-Regular;
            font-size: rem(22px);
            margin: 0;
            padding-bottom: 24px;
          }

          .required-info {
            padding-bottom: 24px;

            .message {
              display: flex;
              justify-content: space-between;
              padding-bottom: 24px;

              .host-contact-details {
                display: flex;
                flex-direction: column;

                h3 {
                  font-family: circular-Regular;
                  margin: 0;
                  font-size: rem(16px);
                }

                p {
                  font-family: circular-Medium;
                  font-size: rem(14px);
                  padding-top: 4px;
                  margin: 0;
                }
              }

              .book-add-btn {
                border: 1px solid #222222;
                border-radius: 8px;
                background-color: transparent;
                font-size: rem(14px);
                padding: 7px 15px;
                font-family: circular-Regular;

                &.book-add-btn:hover {
                  background-color: rgba(0, 0, 0, 0.03);
                }
              }
            }

            .phone-number {
              display: flex;
              justify-content: space-between;
              padding-bottom: 24px;

              .host-contact-details {
                display: flex;
                flex-direction: column;

                h3 {
                  font-family: circular-Regular;
                  margin: 0;
                  font-size: rem(16px);
                }

                p {
                  font-family: circular-Medium;
                  font-size: rem(14px);
                  padding-top: 4px;
                  margin: 0;
                }
              }

              .book-add-btn {
                border: 1px solid #222222;
                border-radius: 8px;
                background-color: transparent;
                font-size: rem(14px);
                padding: 7px 15px;
                font-family: circular-Regular;
              }

              & .book-add-btn:hover {
                background-color: rgba(0, 0, 0, 0.03);
              }
            }
          }
        }
      }
    }
  }

  .book-summary-details {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: end;
    // height: 1000px;

    .order-details {
      // height: 500px;
      position: sticky;
      top: 80px;
      width: 83%;
      height: fit-content;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 12px;
      padding: 23px;
      margin: 0;
      margin-right: 1px;

      .order-details-header {
        display: flex;
        border-bottom: 1px solid rgb(221, 221, 221);
        padding-bottom: 24px;
        margin-bottom: 10px;

        .stay-img {
          width: 124px;
          height: 106px;
          // aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 12px;
        }

        .book-stay-reviews {

          .rating-details {
            display: flex;
            align-items: center;
            // align-items: baseline;
            font-size: rem(12px);
            font-family: airbnb-cereal-book;
            color: $clr15;
            position: relative;
            top: 3px;

            .reviews-avg {
              color: $clr8;
              font-family: airbnb-cereal-medium;

            }

            .reviews-span {
              padding-left: 2px;
            }

            .star-reviews {
              width: 12px;
              height: 12px;

            }

            .reviews-count {
              padding-left: 3px;

            }
          }

          .space-dot {
            padding: 0 4px;
          }


        }


        .book-stay-basic-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-left: 12px;
          max-width: 280px;

          .order-details-header-text {
            .stay-type {
              font-size: 0.6667em;
              margin: 0;
              font-family: airbnb-cereal-book;
              // line-height: 12px;
              display: block;
              // padding-top: 2px;
              color: $clr15;
            }

            .stay-name {
              font-size: 0.77778em;
              padding-top: 4px;
              margin: 0;
              font-family: circular-Regular;
              line-height: 18px !important;
              color: $clr8;
            }



          }
        }
      }
    }

    .order-details-price-summary {
      font-family: airbnb-cereal-book;
      // border-bottom: 1px solid rgb(221, 221, 221);
      color: $clr8;

      .price-details-header {
        font-size: 1.2222em;
        font-family: airbnb-cereal-medium;
        margin-top: 20px;

      }

      .taxes-wrapper {
        margin-top: 10px;
        // margin-bottom: 21px;
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;

        .taxes {
          text-decoration: underline;
          font-size: 0.8888em;
          font-family: airbnb-cereal-book
        }

        .fee-price-taxes {
          font-size: 0.8888em;
          font-family: airbnb-cereal-book;
          color: $clr8;

        }

      }


      .per-night-price-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 17px;
        font-family: airbnb-cereal-book;


        .per-night-price {
          display: flex;
          align-items: baseline;
          font-family: airbnb-cereal-book;
          font-size: 0.8888em;

          h3 {
            font-family: airbnb-cereal-book;
            font-size: rem(16px);
            margin: 0;
          }

          span {
            padding-inline: 8px;
          }
        }

        .sub-total-price {
          font-family: airbnb-cereal-book;
          font-size: rem(16px);
          margin: 0;

        }
      }



      .service-fee-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 7px;
        font-family: airbnb-cereal-book;


        &.cleaning-fee-wrapper {
          // margin-top: 19px;
        }


        .service-fee {
          font-family: airbnb-cereal-book;
          font-size: rem(16px);
          margin: 0;
          text-decoration: underline;
          cursor: pointer;
        }

        .fee-price {
          span {

            text-decoration: none;
            font-family: airbnb-cereal-book;
            font-size: rem(16px);
            margin: 0;
          }

        }
      }


    }
  }

  .total-price-before-payments {
    .total-price-wrapper {
      display: flex;
      justify-content: space-between;
      font-family: cereal-Medium;
      font-size: rem(16px);
      margin: 0;
      padding-bottom: 10px;

      .currency {
        text-decoration: underline;
      }
    }
  }

  .total-price-payments {
    border-top: 1px solid rgb(221, 221, 221);
    margin-top: 10px;

    .second-payment,
    .first-payment {
      display: flex;
      justify-content: space-between;
      // margin-bottom: 5px;
    }

    .second-payment {
      padding-top: 12px;
      font-family: airbnb-cereal-book;

    }


    .payments-summary {
      color: $clr8;
      display: flex;
      flex-direction: column;
      font-family: cereal-Medium;
      font-size: rem(16px);
      margin: 0;
      margin-top: 20px;
    }
  }

  .total-price {
    border-top: 1px solid rgb(221, 221, 221);
    margin-top: 22px;

    .total-price-wrapper {
      display: flex;
      justify-content: space-between;
      font-family: cereal-Medium;
      font-size: rem(16px);
      margin: 0;
      margin-top: 21px;

      .currency {
        text-decoration: underline;
      }
    }
  }


  .rules-container,
  .pay-with-container {
    margin-top: 33px;
    border-top: 1px solid rgb(221, 221, 221);

  }

  .cancelation-policy {
    line-height: 20px;
    margin-top: 32px;
    border-top: 1px solid rgb(221, 221, 221);
    padding-top: 9px;

    .cancelation-header {
      margin-bottom: 24px;
    }

    .free-cancel {

      font-family: airbnb-cereal-medium;
      font-size: 0.888888em;
    }

    .cancel-before {
      font-family: airbnb-cereal-book;
      font-size: 0.888888em;

    }

  }

  .rules-header,
  .cancelation-header,
  .pay-with-header {
    padding-top: 27px;
    font-family: airbnb-cereal-medium;
    font-size: rem(22px);
  }

  .rules-content {
    font-family: airbnb-cereal-book;
    font-size: 0.888888em;
    line-height: 20px;
    margin-top: 20px;

    .rules-list {
      list-style-type: none;
      padding: 0;

      li {
        position: relative;
        padding-left: 12px;
        margin-bottom: 8px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background-color: #222222;
        }
      }
    }
  }

  .terms {
    border-top: 1px solid rgb(221, 221, 221);

    font-family: airbnb-cereal-book;
    font-size: 0.666666em;
    margin-top: 40px;
    padding-top: 40px;
  }


}


.book-payments-form {
  position: relative;



  .payments-container {
    margin-top: 17px;
    line-height: 20px;

    input:checked {
      accent-color: $clr11;
    }


    .fa-solid.fa-circle-dot {
      margin-top: 2px;
      position: absolute;
      right: 13px;
      font-size: 22px;
      width: 22px;
      height: 22px;
      cursor: pointer;

    }


    .button-input {
      margin-top: 2px;
      position: absolute;
      right: 13px;
      width: 22px;
      height: 22px;
      cursor: pointer;
      background-color: #B0B0B0;

    }


  }

  .choose-payment-header {
    font-family: airbnb-cereal-medium;
    font-size: rem(22px);
    padding-top: 29px;
    margin: 0;
  }



  .payments {
    padding: 16px;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-radius: 0px 0px 8px 8px;
  }

  .active-border {
    border: none;
    box-shadow: rgb(34, 34, 34) 0px 0px 0px 2px inset;

  }

  .pay-full {
    border: 1px solid rgb(221, 221, 221);
    padding: 16px;
    border-radius: 8px 8px 0px 0px !important;



  }



  .payments-header {
    font-size: 0.8889em;
    font-family: airbnb-cereal-medium;

  }

  .payments-content {
    font-size: 0.8889em;
    padding-top: 3px;
    font-family: airbnb-cereal-book;

  }

  .pay-full,
  .payments {
    display: flex;
    justify-content: space-between;
  }
}