.stay-details {
  max-width: 1120px;
  margin: auto;
  .header-details {
    h1 {
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
        Helvetica Neue, sans-serif;
      font-size: rem(26px);
      color: #222222;
      font-weight: inherit;
    }
    .sub-header-details {
      display: flex;
      justify-content: space-between;
      .sub-header-details-left {
        display: flex;
        align-items: center;
        .space {
          padding-inline: 4px;
        }
        .rating-details {
          display: flex;
          align-items: center;
          a{
            text-decoration: underline;
          }
        }
        .super-host-details {
          display: flex;
          align-items: center;
          > * {
            margin-inline-end: 4px;
          }
          a{
            text-decoration: underline;
          }
        }
        > * {
          display: flex;
          margin-inline-end: 8px;
        }
      }
      .sub-header-details-right {
        .save-share-details {
          > * {
            padding: 8px;
          }
        }
      }
    }
  }
  .stay-details-img {
    display: flex;
    align-items: flex-start;
    padding-top: 24px;
    .main-photo {
      flex: 1;
    }

    .small-photos {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 8px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .all-imgs-btn {
      margin-top: 10px;

      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}
