.stay-details {
  max-width: 1120px;
  margin: auto;
  .stay-details-info {
    .stay-details-info-left {
      display: flex;
      flex-direction: column;
      max-width: 653.33px;
    }
    .stay-details-info-right {
      display: flex;
      flex-direction: column;
      max-width: 466.67px;
    }
  }
  .horizontal-line {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      border-bottom: 1px solid #000;
      opacity: 0.2;
    }
  }
}
