.stay-details {
  max-width: 1120px;
  margin: auto;
  .custom-hr {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border: none;
    background-color: #DDDDDD;
    margin: 0;
  }
  
  .stay-details-info {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .stay-details-info-left {
      display: flex;
      flex-direction: column;
      max-width: 653.33px;
    }
  }
  .stay-details-info-right {
    display: flex;
    flex-direction: column;
    max-width: 466.67px;
  }
}

