// Cereal

@font-face {
  font-family: cereal-regular;
  src: url(../../fonts/cereal/AirbnbCerealLight.ttf);
}
@font-face {
  font-family: cereal-Book;
  src: url(../../fonts/cereal/AirbnbCerealBook.ttf);
}
@font-face {
  font-family: cereal-Medium;
  src: url(../../fonts/cereal/AirbnbCerealMedium.ttf);
}
@font-face {
  font-family: cereal-Bold;
  src: url(../../fonts/cereal/AirbnbCerealBold.ttf);
}
@font-face {
  font-family: cereal-ExBold;
  src: url(../../fonts/cereal/AirbnbCerealExtraBold.ttf);
}
@font-face {
  font-family: cereal-Black;
  src: url(../../fonts/cereal/AirbnbCerealBlack.ttf);
}

// airbnb

@font-face {
  font-family: airbnb-cereal-bold;
  src: url(../../fonts/airbnb-cereal-font/Airbnb_Cereal-Bold.woff2);
}
@font-face {
  font-family: airbnb-cereal-book;
  src: url(../../fonts/airbnb-cereal-font/Airbnb_Cereal-Book.woff2);
}
@font-face {
  font-family: airbnb-cereal-medium;
  src: url(../../fonts/airbnb-cereal-font/Airbnb_Cereal-Medium.woff2);
}

// Cereal WIDE
@font-face {
  font-family: cereal-wide-bold;
  src: url(../../fonts/airbnb-cereal-font/AirbnbCereal_W_XBd.otf);
}

// Circular

@font-face {
  font-family: circular-Black;
  src: url(../../fonts/Circular/Circular-Light.ttf);
}
@font-face {
  font-family: circular-Regular;
  src: url(../../fonts/Circular/Circular-Regular.ttf);
}

@font-face {
  font-family: circular-Book;
  src: url(../../fonts/Circular/Circular-Medium.ttf);
}
@font-face {
  font-family: circular-Bold;
  src: url(../../fonts/Circular/Circular-Bold.ttf);
}

// Montserrat

@font-face {
  font-family: montserrat-Regular;
  src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: montserrat-Bold;
  src: url(../../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: montserrat-Variable;
  src: url(../../fonts/Montserrat/Montserrat-VariableFont_weight.ttf);
}

// Quicksand

@font-face {
  font-family: quickSand-Regular;
  src: url(../../fonts/Quicksand/Quicksand-Regular.ttf);
}
@font-face {
  font-family: quickSand-Light;
  src: url(../../fonts/Quicksand/Quicksand-Light.ttf);
}
@font-face {
  font-family: quickSand-Medium;
  src: url(../../fonts/Quicksand/Quicksand-Medium.ttf);
}
@font-face {
  font-family: quickSand-SemiBold;
  src: url(../../fonts/Quicksand/Quicksand-SemiBold.ttf);
}
@font-face {
  font-family: quickSand-Bold;
  src: url(../../fonts/Quicksand/Quicksand-Bold.ttf);
}

// Airmojix

@font-face {
  font-family: airmojix;
  src: url(../../fonts/airmojix/airmojix-Regular.woff2);
}
///////


 @font-face {
  font-family: airbnb-cereal-W_Lt;
  src: url(../../fonts/airbnb-cereal-font/AirbnbCereal_W_Lt.otf);
}

@font-face {
  font-family: airbnb-cereal-W_Bd;
  src: url(../../fonts/airbnb-cereal-font/AirbnbCereal_W_Bd.otf);
}

@font-face {
  font-family: airbnb-cereal-W_Bk;
  src: url(../../fonts/airbnb-cereal-font/AirbnbCereal_W_Bk.otf);
}

@font-face {
  font-family: airbnbCereal_W_Blk;
  src: url(../../fonts/airbnb-cereal-font/AirbnbCereal_W_Blk.otf);
}

@font-face {
  font-family: airbnb-cereal-W_Md;
  src: url(../../fonts/airbnb-cereal-font/AirbnbCereal_W_Md.otf);
}

@font-face {
  font-family: airbnb-cereal-W_XBd;
  src: url(../../fonts/airbnb-cereal-font/AirbnbCereal_W_XBd.otf);
}

   