// Colors
$clr1: #FF385C;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #222222;

$clr9: rgb(221, 221, 221);
$clr10: rgb(255, 255, 255);
$clr11: #FFFFFF;
$clr12: #DDDDDD;
$clr13: #EBEBEB;
$clr14: #B0B0B0;
$clr15: #717171;
$clr161: #898989;
$clr16: #B9B9B9;
$clr17: #7F7F7F;
$clr18: rgb(34, 34, 34);
$clr19:#212121;




// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1100px;
$extra-wide-breakpoint: 1400px;

// Fonts
$font1: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;